/* common */
.tdTitle{ 
font-weight:bold;

background-color:#f8f8f8
}
.tdTitle2{background-color:#f9f9f9;
font-weight:bold;
color:#002e68}
.tdTitle3{background-color:#f9f9f9;
border-bottom:1px #f2f4f7 solid;
border-right:1px #f2f4f7 solid;
font-weight:bold;
padding:8px;
color:#002e68}
.TD1{ background-color:#fff;color:#5a5a5a}
.TD2{ background-color:#fcfcfc;color:#5a5a5a}

.TD3{ background:url(../images/bg3.png) bottom repeat-x; background-color:#fff;}






/* header */
.header {
	width:100%;
	height:44px;
	text-align:center;
	background:url(../images/bg_top.png) repeat-x
}
.header .left1 {
	float:left;
	width:250px;
	text-align:center;
}
.header .right1 {
	float:right;	
	padding-right:30px;
	color:#fff;
	
}
.header .right1 a {
	color:#fff;
}
.header .right1  img{
	margin-left:15px;
	margin-right:6px;
	vertical-align:middle;
	}

/* mainer */
.mainer {	
	margin:0 auto;		
	text-align:left;	
	background:url(../images/bg_left.png) repeat-y;
}
.mainer_login {	
	margin:0 auto;		
	text-align:left;	
	background:url(../images/bg_left.png) repeat-y;
}
/* mainer > Fold */
.mainer .Fold{
	width:8px;
	position:relative;
	background:url(../images/bg_right.jpg);
	}
.mainer .Fold .top{
	width:8px;
	height:124px;
	position:absolute;
	left:0px;
	top:0px;
	background:url(../images/bg_Rtop.jpg) repeat-x
	
	}

/* mainer > Directory */
.mainer .Directory{
	width:213px;
	padding:28px 11px;
	
	}
.mainer .Directory .info{
	margin-bottom:1px;
	height:32px;
	padding-left:10px;
	padding-top:10px;
	background:url(../images/bg_menu1a.png) repeat-x;
	border:1px #d5d5d5 solid;}
.mainer .Directory .photo{
	height:109px;	
	margin-bottom:15px;
	}

/* mainer > Directory > info_center */
.mainer .info_center .title1a{
	margin-bottom:1px;
	height:32px;
	padding-left:10px;
	padding-top:10px;
	background:url(../images/bg_menu1a.png) repeat-x;
	border:1px #d5d5d5 solid;
	}
.mainer .info_center .title1a .txts{
	float:left; height:25px; padding-left:30px; padding-top:3px; background:url(../images/ling1a.png) no-repeat;color:#333; }
.mainer .info_center .title1a .num{float:right; width:21px; height:20px; text-align:center; padding-top:1px; margin-right:10px; background-color:#5b6368; color:#FFF}

.mainer .info_center .title1b{
	margin-bottom:1px;
	height:32px;
	padding-left:10px;
	padding-top:10px;
	background:url(../images/bg_menu1b.jpg) repeat-x;
	border:1px #d5d5d5 solid;
	}
.mainer .info_center .title1b .txts{ float:left;height:25px; padding-left:30px; padding-top:3px; background:url(../images/ling1b.png) no-repeat; color:#fff; }
.mainer .info_center .title1b .num{float:right; width:21px; height:20px; text-align:center; padding-top:1px; margin-right:10px; background-color:#5ba6ff; color:#FFF}

.mainer .info_center .items_lists{
	margin-bottom:1px;
	padding:15px;
	padding-bottom:0px;
	border:1px #d5d5d5 solid;}
.mainer .info_center .items_lists li{ background:url(../images/dot.png) 0px 5px no-repeat; padding-left:15px; padding-bottom:10px;}

/* mainer > Directory > items */
.mainer .items .title1a{
	margin-bottom:1px;
	height:32px;
	padding-left:10px;
	padding-top:10px;
	background:url(../images/bg_menu1a.png) repeat-x;
	border:1px #d5d5d5 solid;
	}
.mainer .items .title1a .txts{
	float:left; height:25px; padding-left:30px; padding-top:3px; background:url(../images/icon1a.png) no-repeat;color:#333; }
.mainer .items .title1a .num{float:right; width:21px; height:20px; text-align:center; padding-top:1px; margin-right:10px; background-color:#5b6368; color:#FFF}

.mainer .items .title1b{
	margin-bottom:1px;
	height:32px;
	padding-left:10px;
	padding-top:10px;
	background:url(../images/bg_menu1b.jpg) repeat-x;
	border:1px #d5d5d5 solid;
	}
.mainer .items .title1b .txts{ float:left;height:25px; padding-left:30px; padding-top:3px; background:url(../images/icon1b.png) no-repeat; color:#fff; }
.mainer .items .title1b .num{float:right; width:21px; height:20px; text-align:center; padding-top:1px; margin-right:10px; background-color:#5ba6ff; color:#FFF}

.mainer .items .items_lists{
	margin-bottom:1px;
	padding:15px;	
	border:1px #d5d5d5 solid;}
.mainer .items .items_lists li{ background:url(../images/dot.png) 0px 5px no-repeat; padding-left:15px; padding-bottom:10px;}

/* mainer_right */
.mainer_right{ background:url(../images/bg_right.jpg)  }

/* mainer_right > right_top */
.mainer_right .right_top{
	padding-left:22px;
	height:37px;	
	background:url(../images/bg_Rtop.jpg) repeat-x	
	}
.mainer_right .right_top .Nav{ height:23px; padding-top:10px;}
.mainer_right .right_top .CurTitle{ font-size:24px; padding-top:30px;}

/* mainer_right > right_index */
.mainer_right .right_index{
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
	margin-bottom:20px;
	}

/* mainer_right > right_index > function */

.mainer_right .right_index .function{
	background:url(../images/bg2.png) bottom repeat-x;
	height:30px;
	background-color:#fff;
	padding-left:4px;
	padding-top:4px;
	padding-right:4px;
	border:1px #d5d5d5 solid;
	margin-bottom:2px;}
.mainer_right .right_index .function .search{
	float:left;
	width:55%;
	}
.mainer_right .right_index .function .left1{
	float:left;
	
	}
.mainer_right .right_index .function .search .search_input{
	width:90%;
	}
.mainer_right .right_index .function .search .search_btn{
	padding-left:2px;
	}
.mainer_right .right_index .function .others{
	float:right;	
}

/* mainer_right > right_index > notes */
.mainer_right .right_index .notes{
	float:left;
	width:49%;	
	
	}

/* mainer_right > right_index > notes > notes_list */
.mainer_right .right_index .notes .notes_list{
	padding-left:15px;
	padding-top:25px;
	padding-right:15px;	
	border:1px #d5d5d5 solid;
	background-color:#fff;
	}
.mainer_right .right_index .notes .notes_list li{	
	margin-bottom:15px;}
.mainer_right .right_index .notes .notes_list li .title{
	font-size:18px;
	margin-bottom:10px;}
.mainer_right .right_index .notes .notes_list li .contents{
	padding:10px 10px;
	border:1px #d5d5d5 solid;
	font-size:12px;
}
.mainer_right .right_index .notes .notes_list li .contents .txts{
	padding-left:10px;
	border-left:5px #d9d9d9 solid;
	color:#555555}
.mainer_right .right_index .notes .notes_list li .contents .txts .Font1{
	padding-top:10px;}
.mainer_right .right_index .notes .notes_list li .contents .state{
	text-align:right}
.mainer_right .right_index .notes .notes_list li .contents .state img{
	margin-left:10px;}

/* mainer_right > right_index > notes_new */
.mainer_right .right_index .notes_new{
	float:right;
	width:66%;		
}
.mainer_right .right_index .notes_new .new_edit .title{
	background:url(../images/bg3.png) bottom repeat-x;
	height:28px;
	background-color:#fff;
	padding-left:10px;
	padding-top:10px;
	padding-right:10px;
	border:1px #d5d5d5 solid;
	margin-bottom:1px;
	}
.mainer_right .right_index .notes_new .new_edit .title .left{
	font-size:18px;
	}
.mainer_right .right_index .notes_new .new_edit .title1{
	background:url(../images/bg3.png) bottom repeat-x;
	background-color:#fff;
	padding-left:10px;
	padding-top:10px;
	padding-right:10px;
	border:1px #d5d5d5 solid;
	margin-bottom:1px;
	}
.mainer_right .right_index .notes_new .new_edit .Edit .Edit_function{
	background:url(../images/bg4.png) bottom repeat-x;	
	background-color:#fff;
	border:1px #d9d9d9 solid;
	border-bottom:none}
.mainer_right .right_index .notes_new .new_edit .Edit_input{	
	border:1px #d9d9d9 solid;
	}
.mainer_right .right_index .notes_new .new_edit .Edit_input textarea{	
	border:none;
	width:99%;
	height:270px;
	}
.mainer_right .right_index .notes_new .new_edit .Edit_others{
	background:url(../images/bg3.png) bottom repeat-x;	
	background-color:#fff;
	padding:10px;
	border:1px #d9d9d9 solid;
	border-top:none;	
	}
.mainer_right .right_index .notes_new .new_edit .Edit_others .tags{
	position:relative;
	margin-top:10px;	
	}
.mainer_right .right_index .notes_new .new_edit .Edit_others .tag{
	position:absolute;
	left:40px;
	top:7px;
	padding:3px;
	border:1px #dddddd solid;
	background-color:#f7f7f7	
	}
.mainer_right .right_index .notes_new .new_edit .Edit_submit{
	
	background-color:#fafafa;
	padding:10px;
	border:1px #d9d9d9 solid;
	border-top:none;	
}
/* mainer_right > right_index > comments */
.mainer_right .right_index .comments .top{
	text-align:right;
	margin:15px 0px;
	}
.mainer_right .right_index .comments .comments_list table{
	background-color:#e2e2e2
	}
.mainer_right .right_index .comments .comments_list td{
	padding:5px;
	}

/* mainer_right > right_index > Information */
.mainer_right .right_index .Information .title{
	background:url(../images/bg3.png) bottom repeat-x;
	height:28px;
	background-color:#fff;
	padding-left:10px;
	padding-top:10px;
	padding-right:10px;
	border:1px #d5d5d5 solid;
	font-size:14px;
	font-weight:bold;
	margin-bottom:1px;
	}
.mainer_right .right_index .Information .Table{
	border:1px #d5d5d5 solid;
	}
.mainer_right .right_index .Information .Table td{
	background-color:#fefefe;
	border-bottom:1px #eeeeee solid;
	padding:15px;}
.mainer_right .right_index .Information .Table .submit{
	background-color:#fafafa;
	border-top:1px #fff solid;
	padding:15px;
	}


/* mainer_right > right_index > Data */
.mainer_right .right_index .Data .Data_list table{ background-color:#e2e2e2}
.mainer_right .right_index .Data .Data_list td{ padding:15px;}

/* mainer_right > right_index > Subjects */
.mainer_right .right_index .Subjects li{ float:left; border:1px #cfd9db solid; margin:0px 10px; margin-bottom:20px; width:200px;}

.mainer_right .right_index .Subjects li .title{ font-size:14px; font-weight:bold; padding:15px;border-bottom:1px #cfd9db solid; background-color:#fff;}
.mainer_right .right_index .Subjects li .others{  padding:15px;background-color:#fff;}
.mainer_right .right_index .Subjects li.Add {  background-color:#fff;}
.mainer_right .right_index .Subjects li.Add .Add_type{ padding:10px;}
.mainer_right .right_index .Subjects li.Add .Add_type td{text-align:center; border:1px #cfd9db dashed; height:155px;}


.topDiv{position:fixed; top:0;left:273;z-index:1000;}
.bottomDiv{position:fixed; top:0;left:0;}

/* footer */
.footer {
	text-align:left;
	border-top:1px #c3d0e1 solid;
	color:#5d6f87;
	padding:3px;
}
